body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: olivedrab;
  text-align: center;
}

button {
	box-shadow:inset 0px 0px 14px -3px #f2fadc;
	background:linear-gradient(to bottom, #dbe6c4 5%, #9ba892 100%);
	background-color:#dbe6c4;
	border-radius:6px;
	border:1px solid #b2b8ad;
	display:inline-block;
	cursor:pointer;
	color:#757d6f;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:12px 48px;
	text-decoration:none;
  text-shadow:0px 1px 0px #ced9bf;
  margin: 10px 20px;
}
button:hover {
	background:linear-gradient(to bottom, #9ba892 5%, #dbe6c4 100%);
	background-color:#9ba892;
}

.Rock:focus, .Paper:focus, .Scissors:focus { 
  outline: none;
  transform: scale(1.3);
  border-color: #ff1e00;
  box-shadow: 0 0 1rem #ff1e00;
}

.Play {
  padding:12px 48px;
}

.player {
  min-height: 405px;
}

.reward {
  color: gold;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

.noReward {
  color: brown;
}